In [70]:
#importing dependencies
import pandas as pd
import os

# set the path for the files
school_data_to_load = os.path.join('Resources','schools_complete.csv')
student_data_to_load = os.path.join('Resources', 'students_complete.csv')

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [71]:
#getting the values for the first data frame
total_schools = school_data_complete['school_name'].nunique()
total_students = school_data_complete['student_name'].count()
total_budget = school_data['budget'].sum()
avg_math_score = round(school_data_complete ['math_score'].mean(),2)
avg_reading_score = round(school_data_complete['reading_score'].mean(),2)

#find the kids that are passing
#math
math_passing = school_data_complete[school_data_complete['math_score'] >= 70]
math_passing_counts = math_passing['math_score'].count()
#reading
reading_passing = school_data_complete[school_data_complete['reading_score'] >= 70]
reading_passing_counts = reading_passing['reading_score'].count()
#both
both_passing = school_data_complete[(school_data_complete['math_score'] >= 70) & 
                                    (school_data_complete['reading_score'] >= 70)]
both_passing_counts = both_passing['student_name'].count()

#calculations for the percentages
passing_perentage_math = round((int(math_passing_counts)/total_students)*100,2)
passing_percentage_reading = round((int(reading_passing_counts)/total_students)*100,2)
passing_percentage_both = round((int(both_passing_counts)/total_students)*100,2)

#creating the data frame
#dictionaries
summary_dictionaries = [{'Total Schools': total_schools, 'Total Students': total_students, 
                        'Total Budget': total_budget, 'Avg Math Score': avg_math_score,
                       'Avg Reading Score': avg_reading_score, '% Passing Math': passing_perentage_math,
                        '% Passing Reading': passing_percentage_reading, '% Overall Passing': passing_percentage_both}]
#makin the frame
district_summary_df = pd.DataFrame(summary_dictionaries)
district_summary_df

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

In [72]:
#grouping by schools to get the average scores
schools_df = school_data_complete.groupby('school_name').mean()
schools_df.index.name = None
schools_cleaned = schools_df.filter(['size','budget','reading_score','math_score'])

#adding those columns to school_data

#creating the per-student column
schools_cleaned['Per Student Budget'] = schools_cleaned['budget']/schools_cleaned['size']
#schools_cleaned['% Passing Math'] = math_passing['']
#renaming the colums to something schnazzy

schools_cleaned

,size,budget,reading_score,math_score,Per Student Budget
Bailey High School,4976.0,3124928.0,81.033963,77.048432,628.0
Cabrera High School,1858.0,1081356.0,83.975780,83.061895,582.0
Figueroa High School,2949.0,1884411.0,81.158020,76.711767,639.0
Ford High School,2739.0,1763916.0,80.746258,77.102592,644.0
Griffin High School,1468.0,917500.0,83.816757,83.351499,625.0
Hernandez High School,4635.0,3022020.0,80.934412,77.289752,652.0
Holden High School,427.0,248087.0,83.814988,83.803279,581.0
Huang High School,2917.0,1910635.0,81.182722,76.629414,655.0
Johnson High School,4761.0,3094650.0,80.966394,77.072464,650.0
Pena High School,962.0,585858.0,84.044699,83.839917,609.0
Rodriguez High School,3999.0,2547363.0,80.744686,76.842711,637.0
Shelton High School,1761.0,1056600.0,83.725724,83.359455,600.0
Thomas High School,1635.0,1043130.0,83.848930,83.418349,638.0
Wilson High School,2283.0,1319574.0,83.989488,83.274201,578.0
Wright High School,1800.0,1049400.0,83.955000,83.682222,583.0

In [73]:
#filter by overall passing(decending)

#return the top 5 performing schools

In [74]:
#filter by overall passing (assending)

#return the lowest performing schools

In [89]:
#average math scores across the grades

#find all of the 9th, 10th, 11th and 12th graders
ninth_grade = school_data_complete[school_data_complete['grade'] == "9th"]
tenth_grade = school_data_complete[school_data_complete['grade'] == "10th"]
eleventh_grade = school_data_complete[school_data_complete['grade'] == "11th"]
twelfth_grade = school_data_complete[school_data_complete['grade'] == "12th"]


#find the average math score for each grade
ninth_math = ninth_grade.groupby('school_name').mean()['math_score']
tenth_math = tenth_grade.groupby('school_name').mean()['math_score']
eleventh_math = eleventh_grade.groupby('school_name').mean()['math_score']
twelfth_math = twelfth_grade.groupby('school_name').mean()['math_score']

#create a data frame holding everything
math_scores = pd.DataFrame({'9th':ninth_math, '10th':tenth_math, '11th': eleventh_math, '12th': twelfth_math})
math_scores.index.name = None
math_scores

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [68]:
#create reading scores by grade

#create a new column for the 9th grade

#create a new column for the 10th grade

#create a new column for the 11th grade

#create a new column for the 12th grade

In [ ]:
#schools by spending

#change to index by spending per student

#creating bins for the spending ranges (<584, 585-629, 630-644, 645-675)

In [ ]:
#schools by size 

#change indes to school size

#create bins for a small school(>1000), medium school, (1000-2000), large school (2000+)

In [ ]:
#school by type

#change to index by school

#create bins for charter and  district